@font-face {
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: "Roboto-Regular"; /*APELIDO*/
}
@font-face {
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-family: "Roboto-Medium";
}
@font-face {
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-family: "Roboto-Bold";
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto-Regular";
    background-color: #D9DFE7;
}

/* mobile first */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px;
    height: 150px;

    background-color: #00A5DD;
    background-image: linear-gradient(180deg, #00A5DD,#46BEE6);
    
    
    
    color: white;
}

header h1 {
    font-size: 22px;
}

header i {
    font-size: 20px;
}

.search-box{
    display: flex;
    justify-content: space-between;
    width: 50px;
}

/***************** MAIN  *****************/
.card-box {
    position: relative;
    top: -30px;
    left: 0;
    
    width: 90%;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.card-title {
    font-family: "Roboto-Medium";
    font-size: 14px;
    margin-bottom: 10px;
}
.card {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: .5px solid #e5e4e4;
}
.card-perfil {
    position: relative;

    width: 55px;
    height: 55px;
    background-color: purple;

    background-image: url(../images/pfk07.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.card-counter {
    position: absolute;
    bottom: 0;
    right: -8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    background-color: #30D38F;
    color: white;
    font-size: 10px;
    border-radius: 50%;
}

.card-info {
    width: 60%;
}

.card-name {
    margin-top: 5px;
    
}

.card-status {
    margin-top: 5px;
    color: #30D38F;
    font-size: 13px;
}

.card-price {
    font-family: "Roboto-Bold";
}